<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="QueueGUI1Frame">
		<title>活动场所租赁</title>
		<pos>-1,-1</pos>
		<size>815,486</size>
		<id_arg>0</id_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>248,248</pos>
			<handler function="OnPanel1Paint" entry="EVT_PAINT" />
			<object class="wxStaticLine" name="ID_STATICLINE1" variable="linetop" member="yes">
				<pos>10,59</pos>
				<size>392,1</size>
			</object>
			<object class="wxButton" name="ID_BUTTON1" variable="fileopenbuttonm" member="yes">
				<label>打 开 文 件</label>
				<pos>64,8</pos>
				<size>96,48</size>
				<handler function="OnfileopenbuttonmClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxStaticLine" name="ID_STATICLINE2" variable="linecenter" member="yes">
				<pos>407,63</pos>
				<size>1,381</size>
			</object>
			<object class="wxStaticLine" name="ID_STATICLINE3" variable="lineleft" member="yes">
				<pos>5,64</pos>
				<size>1,381</size>
			</object>
			<object class="wxStaticLine" name="ID_STATICLINE4" variable="lineend" member="yes">
				<pos>10,450</pos>
				<size>392,1</size>
			</object>
			<object class="wxButton" name="ID_BUTTON2" variable="buttonhelp" member="yes">
				<label>帮 助 信 息</label>
				<pos>256,8</pos>
				<size>96,48</size>
			</object>
			<object class="wxButton" name="ID_BUTTON3" variable="upSortbt" member="yes">
				<label>升 序 排 序</label>
				<pos>456,96</pos>
				<size>96,48</size>
			</object>
			<object class="wxButton" name="ID_BUTTON4" variable="downSortbt" member="yes">
				<label>降 序 排 序</label>
				<pos>456,200</pos>
				<size>96,48</size>
			</object>
			<object class="wxButton" name="ID_BUTTON5" variable="fileOutbt" member="yes">
				<label>输 出 数 据</label>
				<pos>456,296</pos>
				<size>96,48</size>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
				<pos>8,64</pos>
				<size>396,384</size>
				<style>wxALWAYS_SHOW_SB</style>
			</object>
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Select file</message>
		</object>
	</object>
</wxsmith>
